@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Here we go again.</h3>

<a asp-action="GetProduct" asp-controller="Product" asp-route-a="hebele" asp-route-b="hübele" asp-route-id="1234" asp-route-x="haha">content</a>